.articleOrder {
  padding: 0.6em;
  margin-top: 0.6em;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  border: dotted 1px rgb(187, 181, 181);
  border-radius: 10px;

  &__flecheDetails {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    text-align: right;
  }

  img {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 8.2vh;
  }

  &__name {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  &__btnAjouter {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 1vw !important;
  }
}
