.orders {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  background-color: grayscale;
  margin-bottom: 5em;

  &__title {
    font-size: 2em;
  }

  &__choice {
    display: flex;
    align-items: center;
    width: 100%;

    select {
      height: 40px;
      width: 30px;
      margin-left: 300px;
      border-radius: 4px;
      font-size: 15px;

      option {
        font-size: 16px;
        align-self: center;
      }
    }

    &-subtitle {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  &__headOrder {
    background-color: rgb(211, 205, 205);
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  &__date {
    font-weight: bold;
  }

  &__paiementContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  &__totalTtc {
    font-weight: bold;
  }

  &__facture {
    display: flex;
    align-items: center;
    font-weight: bold;

    img {
      height: 4vh;
    }
  }

  select {
    width: auto;
  }
}
