* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, mm-main, arial, sans-serif;
}

h1 {
  font-size: 3em;
}

li {
  list-style: none;
}

.buttonClass {
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: 700;
  font-size: 1.5vw;
  border-radius: 5px;
  color: #0a0a61;
  border: none;
  background: #ffbd59;
  transition: 0.5s ease-in-out;
  color: #1b1b8d;
}
.buttonClass:hover {
  background: #fcad34;
}
@media screen and (max-width: 800px) {
  .buttonClass {
    font-size: 2vw;
  }
}

.allProducts {
  color: #0a0a61;
  background-color: #fafafa;
}
.allProducts__page {
  display: flex;
  justify-content: flex-start;
  margin: 2rem;
}
.allProducts__page b {
  margin-left: 5px;
}
.allProducts__infoSearch {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.allProducts__numberSearch {
  text-align: center;
  font-size: 15px;
}
.allProducts__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.allProducts__body__filters {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1;
  width: 23vw;
  margin-left: 20px;
}
.allProducts__body__list {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 2rem;
}
.allProducts__body__list__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 23vw;
  height: 30vh;
  background-color: white;
  padding: 0.5em;
}
.allProducts__body__list__details__picture {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}
.allProducts__body__list__details__picture img {
  width: 11vw;
  height: 21vh;
  margin: 0.5rem;
}
.allProducts__body__list__details__name {
  display: grid;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: start;
  margin: 0.5rem;
}
.allProducts__body__list__details__name p {
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.allProducts__body__list__details__price {
  display: grid;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
}
.allProducts__body__list__details__price__HT {
  font-size: 40px;
  align-items: center;
  text-align: start;
  margin: 0.5rem;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
}
.allProducts__body__list__details__price__HT p {
  font-size: 15px;
  margin-bottom: 10px;
}
.allProducts__body__list__details__price__TTC {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: -1rem;
}
.allProducts__body__list__details__price__TTC img {
  width: 60px;
  margin-left: 5px;
}
.allProducts__body__list__details__brand {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  align-items: center;
  margin-left: 3rem;
}
.allProducts__body__list__details__brand img {
  width: 50%;
}
.allProducts__body__list__details__btnAddCart {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: -1;
  font-size: 1vw !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, mm-main, arial, sans-serif;
}

h1 {
  font-size: 3em;
}

li {
  list-style: none;
}

.buttonClass {
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: 700;
  font-size: 1.5vw;
  border-radius: 5px;
  color: #0a0a61;
  border: none;
  background: #ffbd59;
  transition: 0.5s ease-in-out;
  color: #1b1b8d;
}
.buttonClass:hover {
  background: #fcad34;
}
@media screen and (max-width: 800px) {
  .buttonClass {
    font-size: 2vw;
  }
}

.orders {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  background-color: grayscale;
  margin-bottom: 5em;
}
.orders__title {
  font-size: 2em;
}
.orders__choice {
  display: flex;
  align-items: center;
  width: 100%;
}
.orders__choice select {
  height: 40px;
  width: 30px;
  margin-left: 300px;
  border-radius: 4px;
  font-size: 15px;
}
.orders__choice select option {
  font-size: 16px;
  align-self: center;
}
.orders__choice-subtitle {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.orders__headOrder {
  background-color: #d3cdcd;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.orders__date {
  font-weight: bold;
}
.orders__paiementContainer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.orders__totalTtc {
  font-weight: bold;
}
.orders__facture {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.orders__facture img {
  height: 4vh;
}
.orders select {
  width: 100px;
}

.articleOrder {
  padding: 0.6em;
  margin-top: 0.6em;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 4fr 1fr;
  border: dotted 1px #bbb5b5;
  border-radius: 10px;
}
.articleOrder__flecheDetails {
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: right;
}
.articleOrder img {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 8vw;
}
.articleOrder__name {
  grid-row: 2/3;
  grid-column: 2/3;
}
.articleOrder__btnAjouter {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: flex-end;
  font-size: 0.8em;
}

.most-purchased-products {
  background-color: #f5f6f7;
  padding-bottom: 5%;
}
.most-purchased-products__title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0;
}
.most-purchased-products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchased-product {
  display: grid;
  grid-template-columns: 15% 60% 10% 15%;
  margin: 15px 0;
  padding: 16px;
  width: 80%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}
.purchased-product__img {
  height: 100px;
  width: 100px;
}
.purchased-product__img img {
  height: 100%;
  width: 100%;
}
.purchased-product__name {
  background-color: white;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.purchased-product__name p {
  background-color: white;
}
.purchased-product__price {
  background-color: white;
  display: flex;
  align-items: center;
}
.purchased-product__price p {
  background-color: white;
}
.purchased-product__btn {
  align-self: flex-end;
  font-size: 0.8em;
}

.navbar {
  height: 200px;
  background-image: url("../../ressources//bg_blue.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar__top {
  display: flex;
  justify-content: space-between;
  height: 75px;
}
.navbar__top-contactContainer {
  display: flex;
}
.navbar__top-contactContainer-sideContact {
  width: 0;
  height: 0;
  border-bottom: 75px solid transparent;
  border-right: 20px solid #ec7253;
}
.navbar__top-contactContainer-contact {
  background: linear-gradient(90deg, #ec7253, #e7b548);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar__top-contactContainer-contact p {
  color: white;
}
.navbar__top-contactContainer-contact p span {
  color: black;
  font-weight: bold;
}
.navbar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.navbar__bottom-list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  width: 35vw;
}
.navbar__bottom img {
  width: 250px;
}
.navbar__bottom-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50px;
}
.navbar__bottom-search img {
  width: auto;
  height: 100%;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.navbar__bottom-search input {
  height: 100%;
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.navlink {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}
.navlink__link img {
  width: 30px;
  padding-right: 10px;
}
.navlink__link p {
  height: 100%;
}

.cart {
  display: flex;
  width: 100%;
  background-color: #f5f6f7;
}
.cart__left {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 350px);
  padding: 30px 30px 0 60px;
}
.cart__title {
  width: 50%;
  border-bottom: 4px black solid;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 2px;
  margin-bottom: 25px;
}
.cart__title__logo {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.cart__products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cart__products__display {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.cart__right {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 3px;
}
.cart__bottom {
  display: flex;
  margin-top: 10px;
}
.cart__bottom__discount {
  display: flex;
  width: 30%;
  margin-right: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
}
.cart__bottom__total {
  width: 70%;
  padding: 30px;
  background-color: white;
  border-radius: 3px;
}
.cart__bottom__total__price {
  font-size: 18px;
  font-weight: 700;
}
.cart__bottom__total__delivery {
  font-size: 16px;
  font-weight: 500;
}
.cart__total__line {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
.cart__total__line__httc {
  display: flex;
  flex-direction: column;
}
.cart__total__line__ttc {
  font-size: 10px;
}
.cart__total__line__title {
  font-size: 18px;
  font-weight: 700;
}
.cart__total__line__title1 {
  font-size: 14px;
  font-weight: 600;
}
.cart__total__button {
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

.cart-product {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 30px;
  justify-content: space-between;
}
.cart-product__image {
  width: 100px;
  height: 100px;
}
.cart-product__label {
  font-size: 22px;
  font-weight: 700;
  color: #1b1b8d;
}
.cart-product__main {
  display: flex;
}
.cart-product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-product__delivery-date {
  font-weight: 700;
}
.cart-product__qtyprice {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cart-product__qtyprice__spinner {
  display: flex;
  border: 1px solid rgba(112, 112, 112, 0.3);
  justify-content: space-between;
  border-radius: 5px;
  height: 20px;
  padding: 0.5em;
  margin-bottom: 1em;
}
.cart-product__qtyprice__spinner input[type=number] {
  -moz-appearance: textfield;
  border: none;
  text-align: center;
  width: 50px;
}
.cart-product__qtyprice__spinner input[type=number]::-webkit-inner-spin-button,
.cart-product__qtyprice__spinner input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.cart-product__qtyprice__spinner--left, .cart-product__qtyprice__spinner--right {
  border: none;
  background: none;
  width: 15px;
  opacity: 0.3;
  cursor: pointer;
}
.cart-product__qtyprice__spinner--left img, .cart-product__qtyprice__spinner--right img {
  width: 100%;
}
.cart-product__qtyprice__spinner--right {
  opacity: 1;
}
.cart-product__delete {
  border: none;
  background-color: white;
}
.cart-product__delete:before {
  content: "";
  background-image: url("http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcR4MNVOIgd8B6O8Odx2HD5Gl39T6wPAgQ_vQu1sD_x9KJyCn3LsTpSPRPYIbbKt");
}
.cart-product__priceHT {
  font-size: 20px;
  font-weight: 700;
  color: #1b1b8d;
}

.footer {
  width: 100%;
  background-color: #505971;
  color: white;
}
.footer ul {
  list-style: none;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__up {
  display: flex;
  padding: 0 16px 16px 16px;
  justify-content: space-between;
  background-color: #505971;
  width: 60%;
}
.footer__up--orange {
  color: #f0a22d;
  padding-bottom: 16px;
}
.footer__up h2 {
  padding-top: 16px;
  padding-bottom: 8px;
}
.footer__up h3 {
  margin-bottom: 15px;
}
.footer__up li {
  margin-bottom: 10px;
}
.footer__down {
  width: 100%;
  background-color: #0c193a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}
.footer__down--2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
}
.footer__line {
  height: 15px;
  width: 1px;
  background-color: white;
  margin: 0 1%;
}
.footer__italian-flag {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/flags/it.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}
.footer__english-flag {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/flags/gb.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}
.footer__german-flag {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/flags/de.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}
.footer__spanish-flag {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/flags/es.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}
.footer__flags {
  display: flex;
  justify-content: space-between;
}
.footer__store {
  display: flex;
}
.footer__app-store {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/retention/download-app-store-fr.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 120px;
  margin-right: 20px;
}
.footer__google-play {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/retention/download-play-store-fr.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 120px;
}
.footer__payments {
  display: flex;
  margin-bottom: 10px;
}
.footer__cb {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/png/payment/CB.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 50px;
}
.footer__visa {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/payment/Visa.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 50px;
}
.footer__mastercard {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/payment/Mastercard.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 50px;
}
.footer__paypal {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/payment/Paypal.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 50px;
}
.footer__virement {
  background-image: url("https://pro.manomano.fr/assets/img/themes/default/svg/payment/Virement.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 50px;
}
.footer__networks {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.footer__twitter {
  background-image: url("../../ressources/twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.footer__facebook {
  background-image: url("../../ressources/facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.footer__pinterest {
  background-image: url("../../ressources/pinterest.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.footer__instagram {
  background-image: url("../../ressources/instagram.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.footer__blog {
  background-image: url("../../ressources/blog.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

/*# sourceMappingURL=styles.css.map */
